img {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(50, 167, 155);
    border-radius: 5px;
}

.photo-slogan {
    margin-top: 20px;
    border-bottom: #1A1E33 5px solid;
    border-top: #1A1E33 5px solid;
    background-image: url(/images/mainPhoto.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 1.2rem;
    height: 200px;
    text-align: right;
    margin-bottom: 20px;
    background-color: #F8FCFD;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}

.phrase p {
    margin-top: 110px;
    line-height: 1.5;
    font-weight: bold;
    padding-right: 20px;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.boxes article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes article p {
    font-size: 1.1rem;
    text-align: center;
    padding: 25px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, .4);
    margin-bottom: 30px;
}

.feature-text-box {
    font-size: 2rem;
    text-align: center;
    background-color: #1A1E33;
    font-weight: bolder;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

#container {
    display: flex;
    justify-content: center;
    text-align: right;
    padding: 25px;
    font-size: 1.6rem;
}

#left {
    margin-bottom: 25px;
}

#left p {
    padding-left: 30px;
    padding-right: 20px
}

#right p {
    padding-left: 30px;
    padding-right: 20px;
}

.align {
    text-align: right;
    font-weight: bold;
    font-size: 1.2rem;
}

.contact {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 300px;
    background-image: url(/images/sitting.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, .4);
    margin-bottom: 50px;
}

.contact p {
    width: 275px;
}










@media screen and (min-width: 768px) {


    .photo-slogan {
        width: 90%;
        margin: 75px auto;
        margin-top: 75px;
        border: #1A1E33 5px solid;
        border-radius: 5px;
    }

    .phrase p {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 50px;
        font-size: 2.2rem;
    }

    .boxes article p {
        width: 500px;
        font-size: 1.3rem;
        line-height: 1.5;
    }

    #container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #container h2 {
        font-size: 3.5rem;
        width: 250px;
        text-align: left;
    }

    #left p {
        padding: 20px;
        font-size: 1.3rem;
        line-height: 1.5;
    }

    #right p {
        line-height: 1.5;
    }

    .right-text {
        padding: 25px;
        font-size: 1.3rem;
    }

    .align {
        font-size: 1.8rem;
    }

    .contact p {
        width: 70%;
        font-size: 1.5rem;
    }

}







@media screen and (min-width: 1024px) {

    .photo-slogan {
        height: 400px;
        width: 900px;
    }

    .phrase p {
        margin-top: 15%;
        font-size: 3rem;
    }

    .boxes article {
        display: flex;
        flex-direction: initial;
        width: 80%;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .4), -5px -5px 5px rgba(0, 0, 0, .4);
        margin: 25px auto;
        padding: 30px;
        border-radius: 10px;
    }

    .boxes article p {
        line-height: 3;
        box-shadow: none;
    }

}










@media screen and (min-width: 1200px) {

    img {
        width: 225px;
        height: 225px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .8), 5px 0 10px rgba(0, 0, 0, .8);
        transition: ease-in-out 150ms;
    }

    img:hover {
        opacity: .9;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, .8), 5px 0 10px rgba(0, 0, 0, .8);
    }

    .photo-slogan {
        width: 1024px;
        height: 400px;
    }

    .phrase p {
        margin-top: 15%;
        font-size: 3.25rem;
    }

    .boxes {
        display: flex;
        flex-direction: initial;
        justify-content: space-between;
        width: 1024px;
        margin: 0 auto;
    }

    .boxes article {
        display: flex;
        flex-direction: column;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }

    .boxes article p {
        font-size: 1.1rem;
        line-height: initial;
        width: 200px;
        box-shadow: none;
        text-align: left;
        padding: 5px;
        margin-top: 20px;
    }

    .featured {
        display: flex;
        width: 1024px;
        justify-content: space-between;
        margin: 20px auto;
    }

    #left, #right div {
        width: 500px;
        border: 5px solid #4C8F96;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    #right {
        width: 500px;
    }

    #left .feature-text-box, #right .feature-text-box {
        position: relative;
        top: -20px;
        left: 20px;
        width: fit-content;
        font-size: 2rem;
        padding: 5px 25px;
    }

    #left img {
        width: 100px;
        height: 100px;
        border: none;
        box-shadow: none;
    }

    #left h2 {
        color: #4C8F96;
        font-size: 2rem;
        font-weight: lighter;
        width: fit-content;
    }

    #left p {
        line-height: 1.2;
        font-size: 1.2rem;
    }

    #right div {
        color: white;
        background-color: rgb(48, 95, 100);
    }

    .contact {
        box-shadow: none;
    }


}



