main {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 50px auto;
}

.business {
    font-size: 1.2rem;
}

.schedule {
    background-color: #1A1E33;
    color: white;
    box-shadow: 10px 15px 25px rgba(0,0,0, .5);
    border-radius: 10px;
}

.schedule h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 2rem;
}

form {
    line-height: 1.5;
    padding: 30px;
    font-size: 1.2rem;
}

.button {
    width: 100px;
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 5px;
    border: none;
    letter-spacing: 1px;
    border-radius: 5px;
}

.button:hover,
.button:focus {
    box-shadow: 10px 5px 10px white, -10px 5px 10px 0 white, 10px -5px 10px white, -10px -5px 10px white;
    background-color: #1A1E33;
    color: white;
}

#button-container {
    display: flex;
    justify-content: center;
}

label {
    font-weight: bolder;
}

input:focus {
    box-shadow: 0px 5px 15px white;
}

select:focus {
    box-shadow: 0px 5px 15px white;

}

.business .highlight {
    color: #4C8F96;
}






@media screen and (max-width: 700px) {

    main {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .schedule {
        margin-top: 30px;
        width: 300px;
        margin: 30px auto;
    }
    
}



@media screen and (min-width: 701px) and (max-width: 1200px) {
    .information {
        width: 300px;
        margin: auto;
    }
    .schedule {
        position: initial;
        left: 0;
        margin-left: 100px;

    }
}
