main {
    display: flex;
    width: 1024px;
    margin: 50px auto;
    justify-content: space-evenly;
    line-height: 1.6;
}

.left {
    padding: 15px;
 }

 .left h1 {
     font-size: 3rem;
 }

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 5px solid #4C8F96;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
}

.right h1 {
    color: #4C8F96;
}

.right h2 {
    font-size: 1.1rem;
}


@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .left {
        width: 300px;
    }

    .left h1, .right h1 {
        font-size: 2.5rem;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, .6);
        padding-left: 15px;
        padding-right: 15px;
    }

    .right {
        margin-top: 30px;
        width: 300px;
    }
}


@media screen and (min-width: 701px) and (max-width: 1000px) {

    main {
        width: 750px;
    }

    .left {
        width: 450px;
        line-height: 1.5;
        font-size: 1.2rem;
    }
    
    .left h1 {
        font-size: 3.5rem;
    }

    .right {
        width: 300px;
        height: fit-content;
        margin-top: 30px;
        line-height: 1.5;
        font-size: 1.2rem;
    }

    .right article h2 {
        font-size: 1.4rem;
    }

}


@media screen and (min-width: 1001px) and (max-width: 1200px) {

    main {
        width: 1000px;
    }

    .left {
        width: 550px;
        line-height: 1.5;
        font-size: 1.4rem;
    }
    
    .left h1 {
        font-size: 4rem;
    }

    .right {
        width: 450px;
        height: fit-content;
        margin-top: 30px;
        line-height: 1.5;
        font-size: 1.4rem;
    }

    .right article h2 {
        font-size: 1.6rem;
    }

}

